# TASK 2

In [1]:
import pandas as pd

In [2]:
task = pd.read_excel("C:\\Users\\mohdf\\Downloads\\ml al training\\Input_1.xlsx")

In [3]:
task

,Name,id,Chapter Tag,Concept Test 1 - score,Concept Test 1 - time-taken (seconds),Concept Test 1 - answered,Concept Test 1- correct,Concept Test 1- wrong,Concept Test 1- skipped,Concept Test 2 - score,...,Full Chapter Test 1 - answered,Full Chapter Test 1- correct,Full Chapter Test 1- wrong,Full Chapter Test 1- skipped,Full Chapter Test 2 - score,Full Chapter Test 2 - time-taken (seconds),Full Chapter Test 2 - answered,Full Chapter Test 2- correct,Full Chapter Test 2- wrong,Full Chapter Test 2- skipped
0,Darshan,34,C8S11,4,118,4,4,0,1,1,...,10,6,4,0,6,397,10,6,4,0
1,Durga,35,C8S11,3,886,5,3,2,0,3,...,10,4,6,0,6,539,10,6,4,0
2,Idhaz,36,C8S11,5,112,5,5,0,0,3,...,10,4,6,0,8,583,10,8,2,0
3,Kishore,37,C8S11,1,29,3,1,2,2,-,...,10,4,6,0,0,37,9,0,9,1
4,Mano,38,C8S11,4,242,5,4,1,0,0,...,10,4,6,0,2,657,10,2,8,0
5,Nandha,39,C8S11,3,55,5,3,2,0,0,...,9,2,7,1,0,30,10,0,10,0
6,Nandhini,40,C8S11,5,120,5,5,0,0,3,...,10,7,3,0,5,691,10,5,5,0
7,Rubika,42,C8S11,2,138,5,2,3,0,0,...,10,7,3,0,5,280,10,5,5,0
8,Saila,43,C8S11,-,-,-,-,-,-,0,...,-,-,-,-,-,-,-,-,-,-
9,Shankar,44,C8S11,1,65,5,1,4,0,1,...,10,4,6,0,2,143,10,2,8,0
10,Tarun,45,C8S11,3,71,5,3,2,0,2,...,4,1,3,6,1,139,9,1,8,1
11,Thanis,46,C8S11,5,199,5,5,0,0,2,...,10,3,7,0,1,72,10,1,9,0
12,Vignesh,47,C8S11,3,115,5,3,2,0,2,...,10,4,6,0,-,-,-,-,-,-

In [4]:
task.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 57 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Name                                        13 non-null     object
 1   id                                          13 non-null     int64
 2   Chapter Tag                                 13 non-null     object
 3   Concept Test 1 - score                      13 non-null     object
 4   Concept Test 1 - time-taken (seconds)       13 non-null     object
 5   Concept Test 1 - answered                   13 non-null     object
 6   Concept Test 1- correct                     13 non-null     object
 7   Concept Test 1- wrong                       13 non-null     object
 8   Concept Test 1- skipped                     13 non-null     object
 9   Concept Test 2 - score                      13 non-null     object
 10  Concept Test 2 - time-taken (seconds)       13 non-null     object
 11  Concept Test 2 - answered                   13 non-null     object
 12  Concept Test 2- correct                     13 non-null     object
 13  Concept Test 2- wrong                       13 non-null     object
 14  Concept Test 2- skipped                     13 non-null     object
 15  Concept Test 3 - score                      13 non-null     object
 16  Concept Test 3 - time-taken (seconds)       13 non-null     object
 17  Concept Test 3 - answered                   13 non-null     object
 18  Concept Test 3- correct                     13 non-null     object
 19  Concept Test 3- wrong                       13 non-null     object
 20  Concept Test 3- skipped                     13 non-null     object
 21  Concept Test 4 - score                      13 non-null     object
 22  Concept Test 4 - time-taken (seconds)       13 non-null     object
 23  Concept Test 4 - answered                   13 non-null     object
 24  Concept Test 4- correct                     13 non-null     object
 25  Concept Test 4- wrong                       13 non-null     object
 26  Concept Test 4- skipped                     13 non-null     object
 27  Topic Test 1 - score                        13 non-null     object
 28  Topic Test 1 - time-taken (seconds)         13 non-null     object
 29  Topic Test 1 - answered                     13 non-null     object
 30  Topic Test 1- correct                       13 non-null     object
 31  Topic Test 1- wrong                         13 non-null     object
 32  Topic Test 1- skipped                       13 non-null     object
 33  Concept Test 5 - score                      13 non-null     object
 34  Concept Test 5 - time-taken (seconds)       13 non-null     object
 35  Concept Test 5 - answered                   13 non-null     object
 36  Concept Test 5- correct                     13 non-null     object
 37  Concept Test 5- wrong                       13 non-null     object
 38  Concept Test 5- skipped                     13 non-null     object
 39  Topic Test 2 - score                        13 non-null     object
 40  Topic Test 2 - time-taken (seconds)         13 non-null     object
 41  Topic Test 2 - answered                     13 non-null     object
 42  Topic Test 2- correct                       13 non-null     object
 43  Topic Test 2- wrong                         13 non-null     object
 44  Topic Test 2- skipped                       13 non-null     object
 45  Full Chapter Test 1 - score                 13 non-null     object
 46  Full Chapter Test 1 - time-taken (seconds)  13 non-null     object
 47  Full Chapter Test 1 - answered              13 non-null     object
 48  Full Chapter Test 1- correct                13 non-null     object
 49  Full Chapter Test 1- wrong                  13 non-null     object
 50  Full Chapter Test 1- skipped                13 non-null     object
 51  Full Chapter Test 2 - score                 13 non-null     object
 52  Full Chapter Test 2 - time-taken (seconds)  13 non-null     object
 53  Full Chapter Test 2 - answered              13 non-null     object
 54  Full Chapter Test 2- correct                13 non-null     object
 55  Full Chapter Test 2- wrong                  13 non-null     object
 56  Full Chapter Test 2- skipped                13 non-null     object
dtypes: int64(1), object(56)
memory usage: 5.9+ KB

In [5]:
task.columns

Index(['Name', 'id', 'Chapter Tag', 'Concept Test 1 - score',
       'Concept Test 1 - time-taken (seconds)', 'Concept Test 1 - answered',
       'Concept Test 1- correct', 'Concept Test 1- wrong',
       'Concept Test 1- skipped', 'Concept Test 2 - score',
       'Concept Test 2 - time-taken (seconds)', 'Concept Test 2 - answered',
       'Concept Test 2- correct', 'Concept Test 2- wrong',
       'Concept Test 2- skipped', 'Concept Test 3 - score',
       'Concept Test 3 - time-taken (seconds)', 'Concept Test 3 - answered',
       'Concept Test 3- correct', 'Concept Test 3- wrong',
       'Concept Test 3- skipped', 'Concept Test 4 - score',
       'Concept Test 4 - time-taken (seconds)', 'Concept Test 4 - answered',
       'Concept Test 4- correct', 'Concept Test 4- wrong',
       'Concept Test 4- skipped', 'Topic Test 1 - score',
       'Topic Test 1 - time-taken (seconds)', 'Topic Test 1 - answered',
       'Topic Test 1- correct', 'Topic Test 1- wrong', 'Topic Test 1- skipped',
       'Concept Test 5 - score', 'Concept Test 5 - time-taken (seconds)',
       'Concept Test 5 - answered', 'Concept Test 5- correct',
       'Concept Test 5- wrong', 'Concept Test 5- skipped',
       'Topic Test 2 - score', 'Topic Test 2 - time-taken (seconds)',
       'Topic Test 2 - answered', 'Topic Test 2- correct',
       'Topic Test 2- wrong', 'Topic Test 2- skipped',
       'Full Chapter Test 1 - score',
       'Full Chapter Test 1 - time-taken (seconds)',
       'Full Chapter Test 1 - answered', 'Full Chapter Test 1- correct',
       'Full Chapter Test 1- wrong', 'Full Chapter Test 1- skipped',
       'Full Chapter Test 2 - score',
       'Full Chapter Test 2 - time-taken (seconds)',
       'Full Chapter Test 2 - answered', 'Full Chapter Test 2- correct',
       'Full Chapter Test 2- wrong', 'Full Chapter Test 2- skipped'],
      dtype='object')

In [6]:
x=task[['Name','id','Chapter Tag','Concept Test 1 - answered','Concept Test 1- correct','Concept Test 1 - score','Concept Test 1- skipped','Concept Test 1 - time-taken (seconds)','Concept Test 1- wrong']]

In [7]:
x['Test Name']='Concept Test 1'

C:\Users\mohdf\AppData\Local\Temp\ipykernel_16028\1834534762.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['Test Name']='Concept Test 1'

In [8]:



x

,Name,id,Chapter Tag,Concept Test 1 - answered,Concept Test 1- correct,Concept Test 1 - score,Concept Test 1- skipped,Concept Test 1 - time-taken (seconds),Concept Test 1- wrong,Test Name
0,Darshan,34,C8S11,4,4,4,1,118,0,Concept Test 1
1,Durga,35,C8S11,5,3,3,0,886,2,Concept Test 1
2,Idhaz,36,C8S11,5,5,5,0,112,0,Concept Test 1
3,Kishore,37,C8S11,3,1,1,2,29,2,Concept Test 1
4,Mano,38,C8S11,5,4,4,0,242,1,Concept Test 1
5,Nandha,39,C8S11,5,3,3,0,55,2,Concept Test 1
6,Nandhini,40,C8S11,5,5,5,0,120,0,Concept Test 1
7,Rubika,42,C8S11,5,2,2,0,138,3,Concept Test 1
8,Saila,43,C8S11,-,-,-,-,-,-,Concept Test 1
9,Shankar,44,C8S11,5,1,1,0,65,4,Concept Test 1
10,Tarun,45,C8S11,5,3,3,0,71,2,Concept Test 1
11,Thanis,46,C8S11,5,5,5,0,199,0,Concept Test 1
12,Vignesh,47,C8S11,5,3,3,0,115,2,Concept Test 1

In [9]:
task1=pd.melt(x,id_vars=["Name","id","Chapter Tag","Test Name","Concept Test 1 - answered","Concept Test 1- correct","Concept Test 1 - score","Concept Test 1- skipped","Concept Test 1 - time-taken (seconds)"],value_name="Concept Test 1- wrong")

C:\Users\mohdf\AppData\Local\Temp\ipykernel_16028\1936700027.py:1: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  task1=pd.melt(x,id_vars=["Name","id","Chapter Tag","Test Name","Concept Test 1 - answered","Concept Test 1- correct","Concept Test 1 - score","Concept Test 1- skipped","Concept Test 1 - time-taken (seconds)"],value_name="Concept Test 1- wrong")

In [10]:
task1

,Name,id,Chapter Tag,Test Name,Concept Test 1 - answered,Concept Test 1- correct,Concept Test 1 - score,Concept Test 1- skipped,Concept Test 1 - time-taken (seconds),variable,Concept Test 1- wrong
0,Darshan,34,C8S11,Concept Test 1,4,4,4,1,118,Concept Test 1- wrong,0
1,Durga,35,C8S11,Concept Test 1,5,3,3,0,886,Concept Test 1- wrong,2
2,Idhaz,36,C8S11,Concept Test 1,5,5,5,0,112,Concept Test 1- wrong,0
3,Kishore,37,C8S11,Concept Test 1,3,1,1,2,29,Concept Test 1- wrong,2
4,Mano,38,C8S11,Concept Test 1,5,4,4,0,242,Concept Test 1- wrong,1
5,Nandha,39,C8S11,Concept Test 1,5,3,3,0,55,Concept Test 1- wrong,2
6,Nandhini,40,C8S11,Concept Test 1,5,5,5,0,120,Concept Test 1- wrong,0
7,Rubika,42,C8S11,Concept Test 1,5,2,2,0,138,Concept Test 1- wrong,3
8,Saila,43,C8S11,Concept Test 1,-,-,-,-,-,Concept Test 1- wrong,-
9,Shankar,44,C8S11,Concept Test 1,5,1,1,0,65,Concept Test 1- wrong,4
10,Tarun,45,C8S11,Concept Test 1,5,3,3,0,71,Concept Test 1- wrong,2
11,Thanis,46,C8S11,Concept Test 1,5,5,5,0,199,Concept Test 1- wrong,0
12,Vignesh,47,C8S11,Concept Test 1,5,3,3,0,115,Concept Test 1- wrong,2

In [11]:
task1=task1.rename(columns={'id':'Username','Concept Test 1 - score':'score','Concept Test 1 - answered':'answered','Concept Test 1- correct':'correct','Concept Test 1- wrong':'wrong','Concept Test 1- skipped':'skipped','Concept Test 1 - time-taken (seconds)':'time-taken'})

In [12]:
task1

,Name,Username,Chapter Tag,Test Name,answered,correct,score,skipped,time-taken,variable,wrong
0,Darshan,34,C8S11,Concept Test 1,4,4,4,1,118,Concept Test 1- wrong,0
1,Durga,35,C8S11,Concept Test 1,5,3,3,0,886,Concept Test 1- wrong,2
2,Idhaz,36,C8S11,Concept Test 1,5,5,5,0,112,Concept Test 1- wrong,0
3,Kishore,37,C8S11,Concept Test 1,3,1,1,2,29,Concept Test 1- wrong,2
4,Mano,38,C8S11,Concept Test 1,5,4,4,0,242,Concept Test 1- wrong,1
5,Nandha,39,C8S11,Concept Test 1,5,3,3,0,55,Concept Test 1- wrong,2
6,Nandhini,40,C8S11,Concept Test 1,5,5,5,0,120,Concept Test 1- wrong,0
7,Rubika,42,C8S11,Concept Test 1,5,2,2,0,138,Concept Test 1- wrong,3
8,Saila,43,C8S11,Concept Test 1,-,-,-,-,-,Concept Test 1- wrong,-
9,Shankar,44,C8S11,Concept Test 1,5,1,1,0,65,Concept Test 1- wrong,4
10,Tarun,45,C8S11,Concept Test 1,5,3,3,0,71,Concept Test 1- wrong,2
11,Thanis,46,C8S11,Concept Test 1,5,5,5,0,199,Concept Test 1- wrong,0
12,Vignesh,47,C8S11,Concept Test 1,5,3,3,0,115,Concept Test 1- wrong,2

In [13]:
y=task[['Name','id','Chapter Tag','Concept Test 2 - answered','Concept Test 2- correct','Concept Test 2 - score','Concept Test 2- wrong','Concept Test 2- skipped','Concept Test 2 - time-taken (seconds)']]

In [14]:
y['Test Name']='Concept Test 2'

C:\Users\mohdf\AppData\Local\Temp\ipykernel_16028\2972748963.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y['Test Name']='Concept Test 2'

In [15]:
y

,Name,id,Chapter Tag,Concept Test 2 - answered,Concept Test 2- correct,Concept Test 2 - score,Concept Test 2- wrong,Concept Test 2- skipped,Concept Test 2 - time-taken (seconds),Test Name
0,Darshan,34,C8S11,4,1,1,3,1,320,Concept Test 2
1,Durga,35,C8S11,5,3,3,2,0,1176,Concept Test 2
2,Idhaz,36,C8S11,5,3,3,2,0,146,Concept Test 2
3,Kishore,37,C8S11,-,-,-,-,-,-,Concept Test 2
4,Mano,38,C8S11,5,0,0,5,0,136,Concept Test 2
5,Nandha,39,C8S11,5,0,0,5,0,25,Concept Test 2
6,Nandhini,40,C8S11,5,3,3,2,0,281,Concept Test 2
7,Rubika,42,C8S11,5,0,0,5,0,107,Concept Test 2
8,Saila,43,C8S11,5,0,0,5,0,121,Concept Test 2
9,Shankar,44,C8S11,5,1,1,4,0,79,Concept Test 2
10,Tarun,45,C8S11,5,2,2,3,0,110,Concept Test 2
11,Thanis,46,C8S11,5,2,2,3,0,156,Concept Test 2
12,Vignesh,47,C8S11,5,2,2,3,0,118,Concept Test 2

In [16]:
task2=pd.melt(y,id_vars=["Name","id","Chapter Tag","Test Name","Concept Test 2 - answered","Concept Test 2- correct","Concept Test 2 - score","Concept Test 2- skipped","Concept Test 2 - time-taken (seconds)"],value_name='Concept Test 2- wrong')

C:\Users\mohdf\AppData\Local\Temp\ipykernel_16028\13781556.py:1: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  task2=pd.melt(y,id_vars=["Name","id","Chapter Tag","Test Name","Concept Test 2 - answered","Concept Test 2- correct","Concept Test 2 - score","Concept Test 2- skipped","Concept Test 2 - time-taken (seconds)"],value_name='Concept Test 2- wrong')

In [17]:
task2

,Name,id,Chapter Tag,Test Name,Concept Test 2 - answered,Concept Test 2- correct,Concept Test 2 - score,Concept Test 2- skipped,Concept Test 2 - time-taken (seconds),variable,Concept Test 2- wrong
0,Darshan,34,C8S11,Concept Test 2,4,1,1,1,320,Concept Test 2- wrong,3
1,Durga,35,C8S11,Concept Test 2,5,3,3,0,1176,Concept Test 2- wrong,2
2,Idhaz,36,C8S11,Concept Test 2,5,3,3,0,146,Concept Test 2- wrong,2
3,Kishore,37,C8S11,Concept Test 2,-,-,-,-,-,Concept Test 2- wrong,-
4,Mano,38,C8S11,Concept Test 2,5,0,0,0,136,Concept Test 2- wrong,5
5,Nandha,39,C8S11,Concept Test 2,5,0,0,0,25,Concept Test 2- wrong,5
6,Nandhini,40,C8S11,Concept Test 2,5,3,3,0,281,Concept Test 2- wrong,2
7,Rubika,42,C8S11,Concept Test 2,5,0,0,0,107,Concept Test 2- wrong,5
8,Saila,43,C8S11,Concept Test 2,5,0,0,0,121,Concept Test 2- wrong,5
9,Shankar,44,C8S11,Concept Test 2,5,1,1,0,79,Concept Test 2- wrong,4
10,Tarun,45,C8S11,Concept Test 2,5,2,2,0,110,Concept Test 2- wrong,3
11,Thanis,46,C8S11,Concept Test 2,5,2,2,0,156,Concept Test 2- wrong,3
12,Vignesh,47,C8S11,Concept Test 2,5,2,2,0,118,Concept Test 2- wrong,3

In [18]:

task2=task2.rename(columns={'id':'Username','Concept Test 2 - score':'score','Concept Test 2 - answered':'answered','Concept Test 2- correct':'correct','Concept Test 2- wrong':'wrong','Concept Test 2- skipped':'skipped','Concept Test 2 - time-taken (seconds)':'time-taken'})

In [19]:


task2

,Name,Username,Chapter Tag,Test Name,answered,correct,score,skipped,time-taken,variable,wrong
0,Darshan,34,C8S11,Concept Test 2,4,1,1,1,320,Concept Test 2- wrong,3
1,Durga,35,C8S11,Concept Test 2,5,3,3,0,1176,Concept Test 2- wrong,2
2,Idhaz,36,C8S11,Concept Test 2,5,3,3,0,146,Concept Test 2- wrong,2
3,Kishore,37,C8S11,Concept Test 2,-,-,-,-,-,Concept Test 2- wrong,-
4,Mano,38,C8S11,Concept Test 2,5,0,0,0,136,Concept Test 2- wrong,5
5,Nandha,39,C8S11,Concept Test 2,5,0,0,0,25,Concept Test 2- wrong,5
6,Nandhini,40,C8S11,Concept Test 2,5,3,3,0,281,Concept Test 2- wrong,2
7,Rubika,42,C8S11,Concept Test 2,5,0,0,0,107,Concept Test 2- wrong,5
8,Saila,43,C8S11,Concept Test 2,5,0,0,0,121,Concept Test 2- wrong,5
9,Shankar,44,C8S11,Concept Test 2,5,1,1,0,79,Concept Test 2- wrong,4
10,Tarun,45,C8S11,Concept Test 2,5,2,2,0,110,Concept Test 2- wrong,3
11,Thanis,46,C8S11,Concept Test 2,5,2,2,0,156,Concept Test 2- wrong,3
12,Vignesh,47,C8S11,Concept Test 2,5,2,2,0,118,Concept Test 2- wrong,3

In [20]:

z=task[['Name','id','Chapter Tag','Concept Test 3 - score','Concept Test 3 - answered','Concept Test 3- correct','Concept Test 3- wrong','Concept Test 3- skipped','Concept Test 3 - time-taken (seconds)']]

In [21]:
z['Test Name']='Concept Test 3'

C:\Users\mohdf\AppData\Local\Temp\ipykernel_16028\717891982.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  z['Test Name']='Concept Test 3'

In [22]:
task3=pd.melt(z,id_vars=["Name","id","Chapter Tag","Test Name","Concept Test 3 - score","Concept Test 3 - answered","Concept Test 3- correct","Concept Test 3- wrong","Concept Test 3- skipped"],value_name='Concept Test 3 - time-taken (seconds)')

C:\Users\mohdf\AppData\Local\Temp\ipykernel_16028\3112273660.py:1: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  task3=pd.melt(z,id_vars=["Name","id","Chapter Tag","Test Name","Concept Test 3 - score","Concept Test 3 - answered","Concept Test 3- correct","Concept Test 3- wrong","Concept Test 3- skipped"],value_name='Concept Test 3 - time-taken (seconds)')

In [23]:
task3

,Name,id,Chapter Tag,Test Name,Concept Test 3 - score,Concept Test 3 - answered,Concept Test 3- correct,Concept Test 3- wrong,Concept Test 3- skipped,variable,Concept Test 3 - time-taken (seconds)
0,Darshan,34,C8S11,Concept Test 3,4,5,4,1,0,Concept Test 3 - time-taken (seconds),199
1,Durga,35,C8S11,Concept Test 3,2,5,2,3,0,Concept Test 3 - time-taken (seconds),732
2,Idhaz,36,C8S11,Concept Test 3,4,5,4,1,0,Concept Test 3 - time-taken (seconds),126
3,Kishore,37,C8S11,Concept Test 3,-,-,-,-,-,Concept Test 3 - time-taken (seconds),-
4,Mano,38,C8S11,Concept Test 3,1,5,1,4,0,Concept Test 3 - time-taken (seconds),753
5,Nandha,39,C8S11,Concept Test 3,1,5,1,4,0,Concept Test 3 - time-taken (seconds),15
6,Nandhini,40,C8S11,Concept Test 3,4,5,4,1,0,Concept Test 3 - time-taken (seconds),134
7,Rubika,42,C8S11,Concept Test 3,2,5,2,3,0,Concept Test 3 - time-taken (seconds),110
8,Saila,43,C8S11,Concept Test 3,-,-,-,-,-,Concept Test 3 - time-taken (seconds),-
9,Shankar,44,C8S11,Concept Test 3,1,5,1,4,0,Concept Test 3 - time-taken (seconds),84
10,Tarun,45,C8S11,Concept Test 3,-,-,-,-,-,Concept Test 3 - time-taken (seconds),-
11,Thanis,46,C8S11,Concept Test 3,3,5,3,2,0,Concept Test 3 - time-taken (seconds),64
12,Vignesh,47,C8S11,Concept Test 3,1,5,1,4,0,Concept Test 3 - time-taken (seconds),92

In [24]:
task3=task3.rename(columns={'id':'Username','Concept Test 3 - score':'score','Concept Test 3 - answered':'answered','Concept Test 3- correct':'correct','Concept Test 3- wrong':'wrong','Concept Test 3- skipped':'skipped','Concept Test 3 - time-taken (seconds)':'time-taken'})

In [25]:
task3

,Name,Username,Chapter Tag,Test Name,score,answered,correct,wrong,skipped,variable,time-taken
0,Darshan,34,C8S11,Concept Test 3,4,5,4,1,0,Concept Test 3 - time-taken (seconds),199
1,Durga,35,C8S11,Concept Test 3,2,5,2,3,0,Concept Test 3 - time-taken (seconds),732
2,Idhaz,36,C8S11,Concept Test 3,4,5,4,1,0,Concept Test 3 - time-taken (seconds),126
3,Kishore,37,C8S11,Concept Test 3,-,-,-,-,-,Concept Test 3 - time-taken (seconds),-
4,Mano,38,C8S11,Concept Test 3,1,5,1,4,0,Concept Test 3 - time-taken (seconds),753
5,Nandha,39,C8S11,Concept Test 3,1,5,1,4,0,Concept Test 3 - time-taken (seconds),15
6,Nandhini,40,C8S11,Concept Test 3,4,5,4,1,0,Concept Test 3 - time-taken (seconds),134
7,Rubika,42,C8S11,Concept Test 3,2,5,2,3,0,Concept Test 3 - time-taken (seconds),110
8,Saila,43,C8S11,Concept Test 3,-,-,-,-,-,Concept Test 3 - time-taken (seconds),-
9,Shankar,44,C8S11,Concept Test 3,1,5,1,4,0,Concept Test 3 - time-taken (seconds),84
10,Tarun,45,C8S11,Concept Test 3,-,-,-,-,-,Concept Test 3 - time-taken (seconds),-
11,Thanis,46,C8S11,Concept Test 3,3,5,3,2,0,Concept Test 3 - time-taken (seconds),64
12,Vignesh,47,C8S11,Concept Test 3,1,5,1,4,0,Concept Test 3 - time-taken (seconds),92

In [26]:
p=task[['Name','id','Chapter Tag','Concept Test 4 - score','Concept Test 4 - answered','Concept Test 4- correct','Concept Test 4- wrong','Concept Test 4- skipped','Concept Test 4 - time-taken (seconds)']]

In [27]:
p['Test Name']='Concept Test 4'

C:\Users\mohdf\AppData\Local\Temp\ipykernel_16028\4099425134.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p['Test Name']='Concept Test 4'

In [28]:
task4=pd.melt(p,id_vars=["Name","id","Chapter Tag","Test Name","Concept Test 4 - score","Concept Test 4 - answered","Concept Test 4- correct","Concept Test 4- wrong","Concept Test 4- skipped"],value_name='Concept Test 4 - time-taken (seconds)')

C:\Users\mohdf\AppData\Local\Temp\ipykernel_16028\1387742175.py:1: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  task4=pd.melt(p,id_vars=["Name","id","Chapter Tag","Test Name","Concept Test 4 - score","Concept Test 4 - answered","Concept Test 4- correct","Concept Test 4- wrong","Concept Test 4- skipped"],value_name='Concept Test 4 - time-taken (seconds)')

In [29]:
task4

,Name,id,Chapter Tag,Test Name,Concept Test 4 - score,Concept Test 4 - answered,Concept Test 4- correct,Concept Test 4- wrong,Concept Test 4- skipped,variable,Concept Test 4 - time-taken (seconds)
0,Darshan,34,C8S11,Concept Test 4,3,5,3,2,0,Concept Test 4 - time-taken (seconds),161
1,Durga,35,C8S11,Concept Test 4,4,5,4,1,0,Concept Test 4 - time-taken (seconds),312
2,Idhaz,36,C8S11,Concept Test 4,3,5,3,2,0,Concept Test 4 - time-taken (seconds),130
3,Kishore,37,C8S11,Concept Test 4,0,5,0,5,0,Concept Test 4 - time-taken (seconds),98
4,Mano,38,C8S11,Concept Test 4,2,5,2,3,0,Concept Test 4 - time-taken (seconds),497
5,Nandha,39,C8S11,Concept Test 4,1,4,1,3,1,Concept Test 4 - time-taken (seconds),2
6,Nandhini,40,C8S11,Concept Test 4,5,5,5,0,0,Concept Test 4 - time-taken (seconds),145
7,Rubika,42,C8S11,Concept Test 4,3,5,3,2,0,Concept Test 4 - time-taken (seconds),102
8,Saila,43,C8S11,Concept Test 4,-,-,-,-,-,Concept Test 4 - time-taken (seconds),-
9,Shankar,44,C8S11,Concept Test 4,1,5,1,4,0,Concept Test 4 - time-taken (seconds),89
10,Tarun,45,C8S11,Concept Test 4,3,5,3,2,0,Concept Test 4 - time-taken (seconds),80
11,Thanis,46,C8S11,Concept Test 4,1,5,1,4,0,Concept Test 4 - time-taken (seconds),104
12,Vignesh,47,C8S11,Concept Test 4,2,5,2,3,0,Concept Test 4 - time-taken (seconds),127

In [30]:
task4=task4.rename(columns={'id':'Username','Concept Test 4 - score':'score','Concept Test 4 - answered':'answered','Concept Test 4- correct':'correct','Concept Test 4- wrong':'wrong','Concept Test 4- skipped':'skipped','Concept Test 4 - time-taken (seconds)':'time-taken'})

In [31]:
task4

,Name,Username,Chapter Tag,Test Name,score,answered,correct,wrong,skipped,variable,time-taken
0,Darshan,34,C8S11,Concept Test 4,3,5,3,2,0,Concept Test 4 - time-taken (seconds),161
1,Durga,35,C8S11,Concept Test 4,4,5,4,1,0,Concept Test 4 - time-taken (seconds),312
2,Idhaz,36,C8S11,Concept Test 4,3,5,3,2,0,Concept Test 4 - time-taken (seconds),130
3,Kishore,37,C8S11,Concept Test 4,0,5,0,5,0,Concept Test 4 - time-taken (seconds),98
4,Mano,38,C8S11,Concept Test 4,2,5,2,3,0,Concept Test 4 - time-taken (seconds),497
5,Nandha,39,C8S11,Concept Test 4,1,4,1,3,1,Concept Test 4 - time-taken (seconds),2
6,Nandhini,40,C8S11,Concept Test 4,5,5,5,0,0,Concept Test 4 - time-taken (seconds),145
7,Rubika,42,C8S11,Concept Test 4,3,5,3,2,0,Concept Test 4 - time-taken (seconds),102
8,Saila,43,C8S11,Concept Test 4,-,-,-,-,-,Concept Test 4 - time-taken (seconds),-
9,Shankar,44,C8S11,Concept Test 4,1,5,1,4,0,Concept Test 4 - time-taken (seconds),89
10,Tarun,45,C8S11,Concept Test 4,3,5,3,2,0,Concept Test 4 - time-taken (seconds),80
11,Thanis,46,C8S11,Concept Test 4,1,5,1,4,0,Concept Test 4 - time-taken (seconds),104
12,Vignesh,47,C8S11,Concept Test 4,2,5,2,3,0,Concept Test 4 - time-taken (seconds),127

In [32]:
q=task[['Name','id','Chapter Tag','Concept Test 5 - score','Concept Test 5 - answered','Concept Test 5- correct','Concept Test 5- wrong','Concept Test 5- skipped','Concept Test 5 - time-taken (seconds)']]

In [33]:
q['Test Name']='Concept Test 5'

C:\Users\mohdf\AppData\Local\Temp\ipykernel_16028\4052387312.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  q['Test Name']='Concept Test 5'

In [34]:
task5=pd.melt(q,id_vars=["Name","id","Chapter Tag","Test Name","Concept Test 5 - score","Concept Test 5 - answered","Concept Test 5- correct","Concept Test 5- wrong","Concept Test 5- skipped"],value_name='Concept Test 5 - time-taken (seconds)')

C:\Users\mohdf\AppData\Local\Temp\ipykernel_16028\2025907504.py:1: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  task5=pd.melt(q,id_vars=["Name","id","Chapter Tag","Test Name","Concept Test 5 - score","Concept Test 5 - answered","Concept Test 5- correct","Concept Test 5- wrong","Concept Test 5- skipped"],value_name='Concept Test 5 - time-taken (seconds)')

In [35]:
task5

,Name,id,Chapter Tag,Test Name,Concept Test 5 - score,Concept Test 5 - answered,Concept Test 5- correct,Concept Test 5- wrong,Concept Test 5- skipped,variable,Concept Test 5 - time-taken (seconds)
0,Darshan,34,C8S11,Concept Test 5,3,5,3,2,0,Concept Test 5 - time-taken (seconds),122
1,Durga,35,C8S11,Concept Test 5,4,5,4,1,0,Concept Test 5 - time-taken (seconds),525
2,Idhaz,36,C8S11,Concept Test 5,3,5,3,2,0,Concept Test 5 - time-taken (seconds),211
3,Kishore,37,C8S11,Concept Test 5,-,-,-,-,-,Concept Test 5 - time-taken (seconds),-
4,Mano,38,C8S11,Concept Test 5,4,5,4,1,0,Concept Test 5 - time-taken (seconds),721
5,Nandha,39,C8S11,Concept Test 5,4,5,4,1,0,Concept Test 5 - time-taken (seconds),30
6,Nandhini,40,C8S11,Concept Test 5,4,5,4,1,0,Concept Test 5 - time-taken (seconds),196
7,Rubika,42,C8S11,Concept Test 5,3,4,3,1,1,Concept Test 5 - time-taken (seconds),113
8,Saila,43,C8S11,Concept Test 5,2,5,2,3,0,Concept Test 5 - time-taken (seconds),23
9,Shankar,44,C8S11,Concept Test 5,5,5,5,0,0,Concept Test 5 - time-taken (seconds),90
10,Tarun,45,C8S11,Concept Test 5,4,5,4,1,0,Concept Test 5 - time-taken (seconds),67
11,Thanis,46,C8S11,Concept Test 5,4,5,4,1,0,Concept Test 5 - time-taken (seconds),150
12,Vignesh,47,C8S11,Concept Test 5,4,5,4,1,0,Concept Test 5 - time-taken (seconds),53

In [36]:
task5=task5.rename(columns={'id':'Username','Concept Test 5 - score':'score','Concept Test 5 - answered':'answered','Concept Test 5- correct':'correct','Concept Test 5- wrong':'wrong','Concept Test 5- skipped':'skipped','Concept Test 5 - time-taken (seconds)':'time-taken'})

In [37]:
task5

,Name,Username,Chapter Tag,Test Name,score,answered,correct,wrong,skipped,variable,time-taken
0,Darshan,34,C8S11,Concept Test 5,3,5,3,2,0,Concept Test 5 - time-taken (seconds),122
1,Durga,35,C8S11,Concept Test 5,4,5,4,1,0,Concept Test 5 - time-taken (seconds),525
2,Idhaz,36,C8S11,Concept Test 5,3,5,3,2,0,Concept Test 5 - time-taken (seconds),211
3,Kishore,37,C8S11,Concept Test 5,-,-,-,-,-,Concept Test 5 - time-taken (seconds),-
4,Mano,38,C8S11,Concept Test 5,4,5,4,1,0,Concept Test 5 - time-taken (seconds),721
5,Nandha,39,C8S11,Concept Test 5,4,5,4,1,0,Concept Test 5 - time-taken (seconds),30
6,Nandhini,40,C8S11,Concept Test 5,4,5,4,1,0,Concept Test 5 - time-taken (seconds),196
7,Rubika,42,C8S11,Concept Test 5,3,4,3,1,1,Concept Test 5 - time-taken (seconds),113
8,Saila,43,C8S11,Concept Test 5,2,5,2,3,0,Concept Test 5 - time-taken (seconds),23
9,Shankar,44,C8S11,Concept Test 5,5,5,5,0,0,Concept Test 5 - time-taken (seconds),90
10,Tarun,45,C8S11,Concept Test 5,4,5,4,1,0,Concept Test 5 - time-taken (seconds),67
11,Thanis,46,C8S11,Concept Test 5,4,5,4,1,0,Concept Test 5 - time-taken (seconds),150
12,Vignesh,47,C8S11,Concept Test 5,4,5,4,1,0,Concept Test 5 - time-taken (seconds),53

In [38]:
r=task[['Name','id','Chapter Tag','Topic Test 1 - score','Topic Test 1 - answered','Topic Test 1- correct','Topic Test 1- wrong','Topic Test 1- skipped','Topic Test 1 - time-taken (seconds)']]

In [39]:
r['Test Name']='Topic Test 1'

C:\Users\mohdf\AppData\Local\Temp\ipykernel_16028\3638806301.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r['Test Name']='Topic Test 1'

In [40]:
task6=pd.melt(r,id_vars=["Name","id","Chapter Tag","Test Name","Topic Test 1 - score","Topic Test 1 - answered","Topic Test 1- correct","Topic Test 1- wrong","Topic Test 1- skipped"],value_name='Topic Test 1 - time-taken (seconds)')

C:\Users\mohdf\AppData\Local\Temp\ipykernel_16028\3335950480.py:1: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  task6=pd.melt(r,id_vars=["Name","id","Chapter Tag","Test Name","Topic Test 1 - score","Topic Test 1 - answered","Topic Test 1- correct","Topic Test 1- wrong","Topic Test 1- skipped"],value_name='Topic Test 1 - time-taken (seconds)')

In [41]:
task6

,Name,id,Chapter Tag,Test Name,Topic Test 1 - score,Topic Test 1 - answered,Topic Test 1- correct,Topic Test 1- wrong,Topic Test 1- skipped,variable,Topic Test 1 - time-taken (seconds)
0,Darshan,34,C8S11,Topic Test 1,5,10,5,5,0,Topic Test 1 - time-taken (seconds),341
1,Durga,35,C8S11,Topic Test 1,5,10,5,5,0,Topic Test 1 - time-taken (seconds),788
2,Idhaz,36,C8S11,Topic Test 1,7,10,7,3,0,Topic Test 1 - time-taken (seconds),461
3,Kishore,37,C8S11,Topic Test 1,0,8,0,8,2,Topic Test 1 - time-taken (seconds),283
4,Mano,38,C8S11,Topic Test 1,2,10,2,8,0,Topic Test 1 - time-taken (seconds),785
5,Nandha,39,C8S11,Topic Test 1,3,10,3,7,0,Topic Test 1 - time-taken (seconds),14
6,Nandhini,40,C8S11,Topic Test 1,7,10,7,3,0,Topic Test 1 - time-taken (seconds),388
7,Rubika,42,C8S11,Topic Test 1,5,9,5,4,1,Topic Test 1 - time-taken (seconds),246
8,Saila,43,C8S11,Topic Test 1,-,-,-,-,-,Topic Test 1 - time-taken (seconds),-
9,Shankar,44,C8S11,Topic Test 1,5,10,5,5,0,Topic Test 1 - time-taken (seconds),165
10,Tarun,45,C8S11,Topic Test 1,4,9,4,5,1,Topic Test 1 - time-taken (seconds),166
11,Thanis,46,C8S11,Topic Test 1,4,10,4,6,0,Topic Test 1 - time-taken (seconds),169
12,Vignesh,47,C8S11,Topic Test 1,3,10,3,7,0,Topic Test 1 - time-taken (seconds),214

In [42]:
task6=task6.rename(columns={'id':'Username','Topic Test 1 - score':'score','Topic Test 1 - answered':'answered','Topic Test 1- correct':'correct','Topic Test 1- wrong':'wrong','Topic Test 1- skipped':'skipped','Topic Test 1 - time-taken (seconds)':'time-taken'})

In [43]:
task6

,Name,Username,Chapter Tag,Test Name,score,answered,correct,wrong,skipped,variable,time-taken
0,Darshan,34,C8S11,Topic Test 1,5,10,5,5,0,Topic Test 1 - time-taken (seconds),341
1,Durga,35,C8S11,Topic Test 1,5,10,5,5,0,Topic Test 1 - time-taken (seconds),788
2,Idhaz,36,C8S11,Topic Test 1,7,10,7,3,0,Topic Test 1 - time-taken (seconds),461
3,Kishore,37,C8S11,Topic Test 1,0,8,0,8,2,Topic Test 1 - time-taken (seconds),283
4,Mano,38,C8S11,Topic Test 1,2,10,2,8,0,Topic Test 1 - time-taken (seconds),785
5,Nandha,39,C8S11,Topic Test 1,3,10,3,7,0,Topic Test 1 - time-taken (seconds),14
6,Nandhini,40,C8S11,Topic Test 1,7,10,7,3,0,Topic Test 1 - time-taken (seconds),388
7,Rubika,42,C8S11,Topic Test 1,5,9,5,4,1,Topic Test 1 - time-taken (seconds),246
8,Saila,43,C8S11,Topic Test 1,-,-,-,-,-,Topic Test 1 - time-taken (seconds),-
9,Shankar,44,C8S11,Topic Test 1,5,10,5,5,0,Topic Test 1 - time-taken (seconds),165
10,Tarun,45,C8S11,Topic Test 1,4,9,4,5,1,Topic Test 1 - time-taken (seconds),166
11,Thanis,46,C8S11,Topic Test 1,4,10,4,6,0,Topic Test 1 - time-taken (seconds),169
12,Vignesh,47,C8S11,Topic Test 1,3,10,3,7,0,Topic Test 1 - time-taken (seconds),214

In [44]:
s=task[['Name','id','Chapter Tag','Topic Test 2 - score','Topic Test 2 - answered','Topic Test 2- correct','Topic Test 2- wrong','Topic Test 2- skipped','Topic Test 2 - time-taken (seconds)']]

In [45]:
s['Test Name']='Topic Test 2'

C:\Users\mohdf\AppData\Local\Temp\ipykernel_16028\3870486995.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Test Name']='Topic Test 2'

In [46]:
task7=pd.melt(s,id_vars=["Name","id","Chapter Tag","Test Name","Topic Test 2 - score","Topic Test 2 - answered","Topic Test 2- correct","Topic Test 2- wrong","Topic Test 2- skipped"],value_name='Topic Test 2 - time-taken (seconds)')

C:\Users\mohdf\AppData\Local\Temp\ipykernel_16028\2193751327.py:1: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  task7=pd.melt(s,id_vars=["Name","id","Chapter Tag","Test Name","Topic Test 2 - score","Topic Test 2 - answered","Topic Test 2- correct","Topic Test 2- wrong","Topic Test 2- skipped"],value_name='Topic Test 2 - time-taken (seconds)')

In [47]:
task7

,Name,id,Chapter Tag,Test Name,Topic Test 2 - score,Topic Test 2 - answered,Topic Test 2- correct,Topic Test 2- wrong,Topic Test 2- skipped,variable,Topic Test 2 - time-taken (seconds)
0,Darshan,34,C8S11,Topic Test 2,6,10,6,4,0,Topic Test 2 - time-taken (seconds),388
1,Durga,35,C8S11,Topic Test 2,6,9,6,3,1,Topic Test 2 - time-taken (seconds),678
2,Idhaz,36,C8S11,Topic Test 2,8,10,8,2,0,Topic Test 2 - time-taken (seconds),390
3,Kishore,37,C8S11,Topic Test 2,1,9,1,8,1,Topic Test 2 - time-taken (seconds),128
4,Mano,38,C8S11,Topic Test 2,5,10,5,5,0,Topic Test 2 - time-taken (seconds),722
5,Nandha,39,C8S11,Topic Test 2,3,10,3,7,0,Topic Test 2 - time-taken (seconds),59
6,Nandhini,40,C8S11,Topic Test 2,6,10,6,4,0,Topic Test 2 - time-taken (seconds),502
7,Rubika,42,C8S11,Topic Test 2,6,10,6,4,0,Topic Test 2 - time-taken (seconds),188
8,Saila,43,C8S11,Topic Test 2,-,-,-,-,-,Topic Test 2 - time-taken (seconds),-
9,Shankar,44,C8S11,Topic Test 2,5,10,5,5,0,Topic Test 2 - time-taken (seconds),131
10,Tarun,45,C8S11,Topic Test 2,4,9,4,5,1,Topic Test 2 - time-taken (seconds),134
11,Thanis,46,C8S11,Topic Test 2,8,10,8,2,0,Topic Test 2 - time-taken (seconds),202
12,Vignesh,47,C8S11,Topic Test 2,6,9,6,3,1,Topic Test 2 - time-taken (seconds),84

In [48]:
task7=task7.rename(columns={'id':'Username','Topic Test 2 - score':'score','Topic Test 2 - answered':'answered','Topic Test 2- correct':'correct','Topic Test 2- wrong':'wrong','Topic Test 2- skipped':'skipped','Topic Test 2 - time-taken (seconds)':'time-taken'})

In [49]:
task7

,Name,Username,Chapter Tag,Test Name,score,answered,correct,wrong,skipped,variable,time-taken
0,Darshan,34,C8S11,Topic Test 2,6,10,6,4,0,Topic Test 2 - time-taken (seconds),388
1,Durga,35,C8S11,Topic Test 2,6,9,6,3,1,Topic Test 2 - time-taken (seconds),678
2,Idhaz,36,C8S11,Topic Test 2,8,10,8,2,0,Topic Test 2 - time-taken (seconds),390
3,Kishore,37,C8S11,Topic Test 2,1,9,1,8,1,Topic Test 2 - time-taken (seconds),128
4,Mano,38,C8S11,Topic Test 2,5,10,5,5,0,Topic Test 2 - time-taken (seconds),722
5,Nandha,39,C8S11,Topic Test 2,3,10,3,7,0,Topic Test 2 - time-taken (seconds),59
6,Nandhini,40,C8S11,Topic Test 2,6,10,6,4,0,Topic Test 2 - time-taken (seconds),502
7,Rubika,42,C8S11,Topic Test 2,6,10,6,4,0,Topic Test 2 - time-taken (seconds),188
8,Saila,43,C8S11,Topic Test 2,-,-,-,-,-,Topic Test 2 - time-taken (seconds),-
9,Shankar,44,C8S11,Topic Test 2,5,10,5,5,0,Topic Test 2 - time-taken (seconds),131
10,Tarun,45,C8S11,Topic Test 2,4,9,4,5,1,Topic Test 2 - time-taken (seconds),134
11,Thanis,46,C8S11,Topic Test 2,8,10,8,2,0,Topic Test 2 - time-taken (seconds),202
12,Vignesh,47,C8S11,Topic Test 2,6,9,6,3,1,Topic Test 2 - time-taken (seconds),84

In [50]:
t=task[['Name','id','Chapter Tag','Full Chapter Test 1 - score','Full Chapter Test 1 - answered','Full Chapter Test 1- correct','Full Chapter Test 1- wrong','Full Chapter Test 1- skipped','Full Chapter Test 1 - time-taken (seconds)']]

In [51]:
t['Test Name']='Full Chapter Test 1'

C:\Users\mohdf\AppData\Local\Temp\ipykernel_16028\1537677504.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['Test Name']='Full Chapter Test 1'

In [52]:
task8=pd.melt(t,id_vars=["Name","id","Chapter Tag","Test Name","Full Chapter Test 1 - score","Full Chapter Test 1 - answered","Full Chapter Test 1- correct","Full Chapter Test 1- wrong","Full Chapter Test 1- skipped"],value_name='Full Chapter Test 1 - time-taken (seconds)')

C:\Users\mohdf\AppData\Local\Temp\ipykernel_16028\3379686412.py:1: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  task8=pd.melt(t,id_vars=["Name","id","Chapter Tag","Test Name","Full Chapter Test 1 - score","Full Chapter Test 1 - answered","Full Chapter Test 1- correct","Full Chapter Test 1- wrong","Full Chapter Test 1- skipped"],value_name='Full Chapter Test 1 - time-taken (seconds)')

In [53]:
task8

,Name,id,Chapter Tag,Test Name,Full Chapter Test 1 - score,Full Chapter Test 1 - answered,Full Chapter Test 1- correct,Full Chapter Test 1- wrong,Full Chapter Test 1- skipped,variable,Full Chapter Test 1 - time-taken (seconds)
0,Darshan,34,C8S11,Full Chapter Test 1,6,10,6,4,0,Full Chapter Test 1 - time-taken (seconds),496
1,Durga,35,C8S11,Full Chapter Test 1,4,10,4,6,0,Full Chapter Test 1 - time-taken (seconds),1028
2,Idhaz,36,C8S11,Full Chapter Test 1,4,10,4,6,0,Full Chapter Test 1 - time-taken (seconds),559
3,Kishore,37,C8S11,Full Chapter Test 1,4,10,4,6,0,Full Chapter Test 1 - time-taken (seconds),707
4,Mano,38,C8S11,Full Chapter Test 1,4,10,4,6,0,Full Chapter Test 1 - time-taken (seconds),1054
5,Nandha,39,C8S11,Full Chapter Test 1,2,9,2,7,1,Full Chapter Test 1 - time-taken (seconds),33
6,Nandhini,40,C8S11,Full Chapter Test 1,7,10,7,3,0,Full Chapter Test 1 - time-taken (seconds),428
7,Rubika,42,C8S11,Full Chapter Test 1,7,10,7,3,0,Full Chapter Test 1 - time-taken (seconds),372
8,Saila,43,C8S11,Full Chapter Test 1,-,-,-,-,-,Full Chapter Test 1 - time-taken (seconds),-
9,Shankar,44,C8S11,Full Chapter Test 1,4,10,4,6,0,Full Chapter Test 1 - time-taken (seconds),307
10,Tarun,45,C8S11,Full Chapter Test 1,1,4,1,3,6,Full Chapter Test 1 - time-taken (seconds),335
11,Thanis,46,C8S11,Full Chapter Test 1,3,10,3,7,0,Full Chapter Test 1 - time-taken (seconds),442
12,Vignesh,47,C8S11,Full Chapter Test 1,4,10,4,6,0,Full Chapter Test 1 - time-taken (seconds),128

In [54]:
task8=task8.rename(columns={'id':'Username','Full Chapter Test 1 - score':'score','Full Chapter Test 1 - answered':'answered','Full Chapter Test 1- correct':'correct','Full Chapter Test 1- wrong':'wrong','Full Chapter Test 1- skipped':'skipped','Full Chapter Test 1 - time-taken (seconds)':'time-taken'})

In [55]:
task8

,Name,Username,Chapter Tag,Test Name,score,answered,correct,wrong,skipped,variable,time-taken
0,Darshan,34,C8S11,Full Chapter Test 1,6,10,6,4,0,Full Chapter Test 1 - time-taken (seconds),496
1,Durga,35,C8S11,Full Chapter Test 1,4,10,4,6,0,Full Chapter Test 1 - time-taken (seconds),1028
2,Idhaz,36,C8S11,Full Chapter Test 1,4,10,4,6,0,Full Chapter Test 1 - time-taken (seconds),559
3,Kishore,37,C8S11,Full Chapter Test 1,4,10,4,6,0,Full Chapter Test 1 - time-taken (seconds),707
4,Mano,38,C8S11,Full Chapter Test 1,4,10,4,6,0,Full Chapter Test 1 - time-taken (seconds),1054
5,Nandha,39,C8S11,Full Chapter Test 1,2,9,2,7,1,Full Chapter Test 1 - time-taken (seconds),33
6,Nandhini,40,C8S11,Full Chapter Test 1,7,10,7,3,0,Full Chapter Test 1 - time-taken (seconds),428
7,Rubika,42,C8S11,Full Chapter Test 1,7,10,7,3,0,Full Chapter Test 1 - time-taken (seconds),372
8,Saila,43,C8S11,Full Chapter Test 1,-,-,-,-,-,Full Chapter Test 1 - time-taken (seconds),-
9,Shankar,44,C8S11,Full Chapter Test 1,4,10,4,6,0,Full Chapter Test 1 - time-taken (seconds),307
10,Tarun,45,C8S11,Full Chapter Test 1,1,4,1,3,6,Full Chapter Test 1 - time-taken (seconds),335
11,Thanis,46,C8S11,Full Chapter Test 1,3,10,3,7,0,Full Chapter Test 1 - time-taken (seconds),442
12,Vignesh,47,C8S11,Full Chapter Test 1,4,10,4,6,0,Full Chapter Test 1 - time-taken (seconds),128

In [56]:
u=task[['Name','id','Chapter Tag','Full Chapter Test 2 - score','Full Chapter Test 2 - answered','Full Chapter Test 2- correct','Full Chapter Test 2- wrong','Full Chapter Test 2- skipped','Full Chapter Test 2 - time-taken (seconds)']]

In [57]:
u['Test Name']='Full Chapter Test 2'

C:\Users\mohdf\AppData\Local\Temp\ipykernel_16028\3611780527.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  u['Test Name']='Full Chapter Test 2'

In [58]:
task9=pd.melt(u,id_vars=["Name","id","Chapter Tag","Test Name","Full Chapter Test 2 - score","Full Chapter Test 2 - answered","Full Chapter Test 2- correct","Full Chapter Test 2- wrong","Full Chapter Test 2- skipped"],value_name='Full Chapter Test 2 - time-taken (seconds)')

C:\Users\mohdf\AppData\Local\Temp\ipykernel_16028\1698256139.py:1: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  task9=pd.melt(u,id_vars=["Name","id","Chapter Tag","Test Name","Full Chapter Test 2 - score","Full Chapter Test 2 - answered","Full Chapter Test 2- correct","Full Chapter Test 2- wrong","Full Chapter Test 2- skipped"],value_name='Full Chapter Test 2 - time-taken (seconds)')

In [59]:
task9

,Name,id,Chapter Tag,Test Name,Full Chapter Test 2 - score,Full Chapter Test 2 - answered,Full Chapter Test 2- correct,Full Chapter Test 2- wrong,Full Chapter Test 2- skipped,variable,Full Chapter Test 2 - time-taken (seconds)
0,Darshan,34,C8S11,Full Chapter Test 2,6,10,6,4,0,Full Chapter Test 2 - time-taken (seconds),397
1,Durga,35,C8S11,Full Chapter Test 2,6,10,6,4,0,Full Chapter Test 2 - time-taken (seconds),539
2,Idhaz,36,C8S11,Full Chapter Test 2,8,10,8,2,0,Full Chapter Test 2 - time-taken (seconds),583
3,Kishore,37,C8S11,Full Chapter Test 2,0,9,0,9,1,Full Chapter Test 2 - time-taken (seconds),37
4,Mano,38,C8S11,Full Chapter Test 2,2,10,2,8,0,Full Chapter Test 2 - time-taken (seconds),657
5,Nandha,39,C8S11,Full Chapter Test 2,0,10,0,10,0,Full Chapter Test 2 - time-taken (seconds),30
6,Nandhini,40,C8S11,Full Chapter Test 2,5,10,5,5,0,Full Chapter Test 2 - time-taken (seconds),691
7,Rubika,42,C8S11,Full Chapter Test 2,5,10,5,5,0,Full Chapter Test 2 - time-taken (seconds),280
8,Saila,43,C8S11,Full Chapter Test 2,-,-,-,-,-,Full Chapter Test 2 - time-taken (seconds),-
9,Shankar,44,C8S11,Full Chapter Test 2,2,10,2,8,0,Full Chapter Test 2 - time-taken (seconds),143
10,Tarun,45,C8S11,Full Chapter Test 2,1,9,1,8,1,Full Chapter Test 2 - time-taken (seconds),139
11,Thanis,46,C8S11,Full Chapter Test 2,1,10,1,9,0,Full Chapter Test 2 - time-taken (seconds),72
12,Vignesh,47,C8S11,Full Chapter Test 2,-,-,-,-,-,Full Chapter Test 2 - time-taken (seconds),-

In [60]:
task9=task9.rename(columns={'id':'Username','Full Chapter Test 2 - score':'score','Full Chapter Test 2 - answered':'answered','Full Chapter Test 2- correct':'correct','Full Chapter Test 2- wrong':'wrong','Full Chapter Test 2- skipped':'skipped','Full Chapter Test 2 - time-taken (seconds)':'time-taken'})

In [61]:
task9

,Name,Username,Chapter Tag,Test Name,score,answered,correct,wrong,skipped,variable,time-taken
0,Darshan,34,C8S11,Full Chapter Test 2,6,10,6,4,0,Full Chapter Test 2 - time-taken (seconds),397
1,Durga,35,C8S11,Full Chapter Test 2,6,10,6,4,0,Full Chapter Test 2 - time-taken (seconds),539
2,Idhaz,36,C8S11,Full Chapter Test 2,8,10,8,2,0,Full Chapter Test 2 - time-taken (seconds),583
3,Kishore,37,C8S11,Full Chapter Test 2,0,9,0,9,1,Full Chapter Test 2 - time-taken (seconds),37
4,Mano,38,C8S11,Full Chapter Test 2,2,10,2,8,0,Full Chapter Test 2 - time-taken (seconds),657
5,Nandha,39,C8S11,Full Chapter Test 2,0,10,0,10,0,Full Chapter Test 2 - time-taken (seconds),30
6,Nandhini,40,C8S11,Full Chapter Test 2,5,10,5,5,0,Full Chapter Test 2 - time-taken (seconds),691
7,Rubika,42,C8S11,Full Chapter Test 2,5,10,5,5,0,Full Chapter Test 2 - time-taken (seconds),280
8,Saila,43,C8S11,Full Chapter Test 2,-,-,-,-,-,Full Chapter Test 2 - time-taken (seconds),-
9,Shankar,44,C8S11,Full Chapter Test 2,2,10,2,8,0,Full Chapter Test 2 - time-taken (seconds),143
10,Tarun,45,C8S11,Full Chapter Test 2,1,9,1,8,1,Full Chapter Test 2 - time-taken (seconds),139
11,Thanis,46,C8S11,Full Chapter Test 2,1,10,1,9,0,Full Chapter Test 2 - time-taken (seconds),72
12,Vignesh,47,C8S11,Full Chapter Test 2,-,-,-,-,-,Full Chapter Test 2 - time-taken (seconds),-

In [62]:
merged_df=pd.concat([task1,task2,task3,task4,task5,task6,task7,task8,task9],axis=0)

In [63]:
merged_df

,Name,Username,Chapter Tag,Test Name,answered,correct,score,skipped,time-taken,variable,wrong
0,Darshan,34,C8S11,Concept Test 1,4,4,4,1,118,Concept Test 1- wrong,0
1,Durga,35,C8S11,Concept Test 1,5,3,3,0,886,Concept Test 1- wrong,2
2,Idhaz,36,C8S11,Concept Test 1,5,5,5,0,112,Concept Test 1- wrong,0
3,Kishore,37,C8S11,Concept Test 1,3,1,1,2,29,Concept Test 1- wrong,2
4,Mano,38,C8S11,Concept Test 1,5,4,4,0,242,Concept Test 1- wrong,1
...,...,...,...,...,...,...,...,...,...,...,...
8,Saila,43,C8S11,Full Chapter Test 2,-,-,-,-,-,Full Chapter Test 2 - time-taken (seconds),-
9,Shankar,44,C8S11,Full Chapter Test 2,10,2,2,0,143,Full Chapter Test 2 - time-taken (seconds),8
10,Tarun,45,C8S11,Full Chapter Test 2,9,1,1,1,139,Full Chapter Test 2 - time-taken (seconds),8
11,Thanis,46,C8S11,Full Chapter Test 2,10,1,1,0,72,Full Chapter Test 2 - time-taken (seconds),9
12,Vignesh,47,C8S11,Full Chapter Test 2,-,-,-,-,-,Full Chapter Test 2 - time-taken (seconds),-

In [64]:
merged_df.drop(['variable'],axis=1,inplace=True)

In [65]:
merged_df

,Name,Username,Chapter Tag,Test Name,answered,correct,score,skipped,time-taken,wrong
0,Darshan,34,C8S11,Concept Test 1,4,4,4,1,118,0
1,Durga,35,C8S11,Concept Test 1,5,3,3,0,886,2
2,Idhaz,36,C8S11,Concept Test 1,5,5,5,0,112,0
3,Kishore,37,C8S11,Concept Test 1,3,1,1,2,29,2
4,Mano,38,C8S11,Concept Test 1,5,4,4,0,242,1
...,...,...,...,...,...,...,...,...,...,...
8,Saila,43,C8S11,Full Chapter Test 2,-,-,-,-,-,-
9,Shankar,44,C8S11,Full Chapter Test 2,10,2,2,0,143,8
10,Tarun,45,C8S11,Full Chapter Test 2,9,1,1,1,139,8
11,Thanis,46,C8S11,Full Chapter Test 2,10,1,1,0,72,9
12,Vignesh,47,C8S11,Full Chapter Test 2,-,-,-,-,-,-

In [66]:
merged_df=merged_df.sort_values(["Name","Username","Chapter Tag","Test Name"])

In [67]:
merged_df

,Name,Username,Chapter Tag,Test Name,answered,correct,score,skipped,time-taken,wrong
0,Darshan,34,C8S11,Concept Test 1,4,4,4,1,118,0
0,Darshan,34,C8S11,Concept Test 2,4,1,1,1,320,3
0,Darshan,34,C8S11,Concept Test 3,5,4,4,0,199,1
0,Darshan,34,C8S11,Concept Test 4,5,3,3,0,161,2
0,Darshan,34,C8S11,Concept Test 5,5,3,3,0,122,2
...,...,...,...,...,...,...,...,...,...,...
12,Vignesh,47,C8S11,Concept Test 5,5,4,4,0,53,1
12,Vignesh,47,C8S11,Full Chapter Test 1,10,4,4,0,128,6
12,Vignesh,47,C8S11,Full Chapter Test 2,-,-,-,-,-,-
12,Vignesh,47,C8S11,Topic Test 1,10,3,3,0,214,7
12,Vignesh,47,C8S11,Topic Test 2,9,6,6,1,84,3

In [68]:
import numpy as np

In [69]:
merged_df['answered'].replace('-',np.nan,inplace=True)
merged_df['correct'].replace('-',np.nan,inplace=True)
merged_df['score'].replace('-',np.nan,inplace=True)
merged_df['skipped'].replace('-',np.nan,inplace=True)
merged_df['time-taken'].replace('-',np.nan,inplace=True)
merged_df['wrong'].replace('-',np.nan,inplace=True)

In [70]:
f_task=merged_df.dropna(axis=0)

In [71]:
f_task

,Name,Username,Chapter Tag,Test Name,answered,correct,score,skipped,time-taken,wrong
0,Darshan,34,C8S11,Concept Test 1,4.0,4.0,4.0,1.0,118.0,0.0
0,Darshan,34,C8S11,Concept Test 2,4.0,1.0,1.0,1.0,320.0,3.0
0,Darshan,34,C8S11,Concept Test 3,5.0,4.0,4.0,0.0,199.0,1.0
0,Darshan,34,C8S11,Concept Test 4,5.0,3.0,3.0,0.0,161.0,2.0
0,Darshan,34,C8S11,Concept Test 5,5.0,3.0,3.0,0.0,122.0,2.0
...,...,...,...,...,...,...,...,...,...,...
12,Vignesh,47,C8S11,Concept Test 4,5.0,2.0,2.0,0.0,127.0,3.0
12,Vignesh,47,C8S11,Concept Test 5,5.0,4.0,4.0,0.0,53.0,1.0
12,Vignesh,47,C8S11,Full Chapter Test 1,10.0,4.0,4.0,0.0,128.0,6.0
12,Vignesh,47,C8S11,Topic Test 1,10.0,3.0,3.0,0.0,214.0,7.0
12,Vignesh,47,C8S11,Topic Test 2,9.0,6.0,6.0,1.0,84.0,3.0

In [74]:
float_col = f_task.select_dtypes(include=['float64']) 

 for col in float_col.columns.values:
        f_task[col] = f_task[col].astype('int64')

C:\Users\mohdf\AppData\Local\Temp\ipykernel_16028\1617687213.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_task[col] = f_task[col].astype('int64')

In [75]:
f_task

,Name,Username,Chapter Tag,Test Name,answered,correct,score,skipped,time-taken,wrong
0,Darshan,34,C8S11,Concept Test 1,4,4,4,1,118,0
0,Darshan,34,C8S11,Concept Test 2,4,1,1,1,320,3
0,Darshan,34,C8S11,Concept Test 3,5,4,4,0,199,1
0,Darshan,34,C8S11,Concept Test 4,5,3,3,0,161,2
0,Darshan,34,C8S11,Concept Test 5,5,3,3,0,122,2
...,...,...,...,...,...,...,...,...,...,...
12,Vignesh,47,C8S11,Concept Test 4,5,2,2,0,127,3
12,Vignesh,47,C8S11,Concept Test 5,5,4,4,0,53,1
12,Vignesh,47,C8S11,Full Chapter Test 1,10,4,4,0,128,6
12,Vignesh,47,C8S11,Topic Test 1,10,3,3,0,214,7
12,Vignesh,47,C8S11,Topic Test 2,9,6,6,1,84,3